<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  </head>
<body>

  <nav class="navbar navbar-light bg-light">
    <a routerLink="/home" class="navbar-brand" >
      <img src="assets/img-front-test/front-test-logo.png"  alt="">
    </a>
  </nav>

  <div class="container">
      <div class="login-form row">
   <div class="login-form col-sm-4">
     <h2>Entrar</h2>
    <form >
      <div class="form-group">
        
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
       
      </div>
      <div class="form-group">
       
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <a class="login-link-password ">Esqueceu a senha?</a>
      <a routerLink="/home" class="btn btn-primary login-btn  my-3"  role="button">Entrar</a>
      </form>
  
    <a class="login-link-signup" routerLink="/signup">Não tem conta? Cadastre-se</a>
  </div>
  </div>

  <footer>
    <div class="footer-img"><img src="assets/img-front-test/bg-front-bottom.png"  alt=""></div>
  </footer>
</div>

</body>
</html>