*{
    box-sizing: border-box;
    
}

.container{
    margin-top: 100px;
  
}
.login-form{
    
    margin: 0 auto;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
 
}

.login-form h2{
 font-family: 'Open Sans', sans-serif;
letter-spacing: 1;
font-weight: bold;
color: #585859;
font-size: 29px;
align-self:flex-start; 
}

.login-link-password{
   
    text-transform: uppercase;
    color:#585859;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
   margin-left: 220px;
   
}

.login-btn{
    border-radius: 28px;
    background-color: #7626ff;
    color:#ffff;
    width:360px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    padding: 18px;
    

}
.login-link-signup{
    margin: 0 auto;
    font-size: 16px;
    color:#0077C5;
    justify-content: center;
}

.footer-img{
    margin: 0 auto;
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Mukta', sans-serif; */