<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  </head>
<body>
  <h1>LOGIN WORKS</h1>

  <nav class="navbar navbar-light bg-light">
    <a routerLink="" class="navbar-brand" >
      <img src="assets/img-front-test/front-test-logo.png" width="30" height="30" alt="">
    </a>
  </nav>
      
   <div><h2>Entrar</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      
      <a routerLink="/home" class="btn btn-primary"  role="button">Entrar</a>
      </form>
  
    <a  routerLink="/signup">Não tem conta? Cadastre-se</a></div>
  
  <img src="assets/img-front-test/bg-front.png" alt="">
</body>
</html>