<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>



  <nav class="navbar signup-navbar">
    <a routerLink="" class="navbar-brand">
      <img src="assets/img-front-test/front-test-logo.png" width="64" height="64">
    </a>
  </nav>
  <div class="container">
    <h1 class="my-3"> Cadastrar</h1>
    <div class="signup-form form-row">

      <div class="signup-form-personal-info col-sm-6">
        <h2>Informações Pessoais</h2>
        <form>
          <div class="form-row">
            <div class="col-sm-10 my-1">
              <input type="text" class="form-control signup-name" placeholder="Nome/Razão Social">
            </div>
            <div class="col-sm-4 my-1">
              <input type="number" class="form-control signup-cpf" placeholder="CPF">
            </div>
            <div class="col-sm-6 my-1">
              <input type="number" class="form-control signup-tel" placeholder="Telefone">
            </div>
            <div class="col-sm-10 my-1">
              <input type="email" class="form-control" placeholder="E-mail">
            </div>
            <div class="col-sm-10 my-1">
              <input type="password" class="form-control" placeholder="Senha">
            </div>
          </div>
        </form>
      </div>

      <div class="signup-form-adress col-sm-6">
        <h2> Endereço </h2>
        <form>
          <div class="form-row">
            <div class="col-sm-4">

              <input type="number" class="form-control signup-zip my-1" placeholder="CEP" required>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control signup-st my-1" placeholder="Logradouro">
            </div>
            <div class="col-sm-4">

              <input type="number" class="form-control signup-number my-1" placeholder="Número" required>
            </div>
            <div class="col-sm-6 ">
              <input type="text" class="form-control signup-hood my-1" placeholder="Bairro">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="signup-links">
      <a routerLink="/home" class="btn btn-primary signup-btn my-5" role="button">Cadastrar</a>


      <a class="signup-link-login " routerLink="">Já tem uma conta?Faça login!</a>
    </div>

  </div>

  <footer>
    <div class="footer-signup-img"> <img src="assets/img-front-test/bg-front-bottom.png">
    </div>

  </footer>


</body>

</html>