*{
    box-sizing: border-box;
    height: 100%;
    position:relative;
    
}
.signup{
    min-height: 100vh;
}

.signup-form{
    margin: 0 auto;
}
.signup-links{
    display:flex;
flex-direction: column;

}

.signup-btn{
    margin:0 auto;
}
.signup-link-login{
    margin: 0 auto;
}

.footer{
    display:flex;
}
footer img{
    justify-content: flex-start;
}


