<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="signup">
  
   <nav class="navbar navbar-light bg-light">
    <a routerLink="" class="navbar-brand">
      <img src="assets/img-front-test/front-test-logo.png" alt="">
    </a>
  </nav>
  <h1> Cadastrar</h1>
  <div class="signup-form form-row">
     
      <div class="signup-form-personal-info col-sm-6">
        <h2>Informações Pessoais</h2>
        <form>
           <div class="form-row">
              <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="First name">
             </div>
             <div class="col-sm-6">
               <input type="text" class="form-control" placeholder="Last name">
             </div>
             <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
           </div>
         </form></div> 
    
         <div class="signup-form-adress col"> 
           <h2> Endereço </h2>
           <form >
              <div class="form-row">
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-sm-7">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="First name">
                  </div>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
              </div>
            </form>
         </div>
        </div>

        <div class="signup-links">
            <a routerLink="/home" class="btn btn-primary signup-btn col-sm-4"  role="button">Cadastrar</a>
          
      
        <a class="signup-link-login col-sm-2" routerLink="">Já é cadastrada? Faça seu login!</a>
        </div>


                  
        <footer>
          
            <img src= "assets/img-front-test/bg-front-bottom.png">
        
        </footer>
      </div>
  
</body>

</html>