*{
    box-sizing: border-box;
    
}

input::placeholder {
    font-size: 13px;
    color:#CAD0DC;
    font-family: 'Mukta', sans-serif;
    
}
input{
    border-radius: 6px;

}

.container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 758px;
 margin-bottom: 95px;
}

.container h1{
    font-size: 29px;
    color: #585859;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    align-self: flex-start;
   
}

.signup-form{
    width: 758px;
  
}

.signup-form-personal-info {
    height: 200px;
  margin-right: 0px;
  width: 300px;
}

.signup-form-adress{
    height: 200px;
    
}

.signup-form-personal-info h2{
    font-size: 16px;
    color: #585859;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
}

.signup-form-adress h2{
   font-size: 16px;
   color: #585859;
   font-weight: bold;
   font-family: 'Mukta', sans-serif;

}

.signup-links{
    display:flex;
    flex-direction: column;
    margin-left: 136px;
    align-content: center; 
    justify-content: center;
    margin-right: 100px;

} 

.signup-btn{
   
    border-radius: 28px;
    background-color:#7626FF;
    color: #fff;
    font-weight: bold;
    padding: 18px;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    width:361.92px;
    height: 60px;
    
    
}

.signup-link-login{
    color: #0077C5;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    flex-direction: column;
    width:361.92px;
    height: 60px;
}

.footer{
    display:flex;
    justify-content: center;
}

.footer-signup-img{
    margin-left: 187px;
}