<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

</head>

<body>

  <nav class="navbar home-navbar">
    <a class="navbar-brand">
      <img src="assets/img-front-test/front-test-logo.png" width="64" height="64">
    </a>
    <div class="nav-button-home"><a routerLink="" class="btn home-navbar-btn">logout</a></div>

  </nav>


  <div class="container">
    <div class="main"><img src="assets/img-front-test/bg-front-main.png" alt="">
      <div class="main-over">
        <div class="main-slogan"><img src="assets/img-front-test/front-test.png" alt=""></div>
        <div class="main-text mt-3">
          <p>Mussum Ipsum, cacilds vidis litro abertis.

            Vehicula non. Ut sed ex eros.</p>
        </div>
        <div class="main-button">
          <button type="button" class="btn btn-outline main-btn my-3">Saiba Mais</button>
        </div>
      </div>


      <div class="main-cards">
        <div class="row ">
          <div class="col-4">
            <div class="card-left border">
              <div class="card-left-body">
                <h5 class="card-title my-3">Mussum Ipsum Cacilds</h5>
                <div class="img-bg-card-left my-3">
                  <img src="assets/img-front-test/bg-front.png">
                  <div class="img-print-over-card-left"><img src="assets/img-front-test/fingerprint.png"> </div>
                </div>
                <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut
                  ante blandit hendrerit.</p>
                <a href="#" class="btn card-btn-left">Saiba Mais</a>
                <div class="bottom-left-card"><img src = "assets/img-front-test/bottom-left-card.png"></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card-middle border">
              <div class="card-middle-body">
                <h5 class="card-title my-3">Mussum Ipsum Cacilds</h5>
                <div class="img-bg-card-middle my-3">
                  <img src="assets/img-front-test/bg-front.png">
                  <div class="img-print-over-card-middle my-5"><img src="assets/img-front-test/fingerprint.png"> </div>
                </div>
                <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut
                  ante blandit hendrerit.</p>
                <a href="#" class="btn  card-btn-middle">Saiba Mais</a>
                <div class="bottom-middle-card"><img src = "assets/img-front-test/bottom-middle-card.png"></div>
                
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card-right border">
              <div class="card-right-body">
                <h5 class="card-title my-3">Mussum Ipsum Cacilds</h5>
                <div class="img-bg-card-right my-3">
                  <img src="assets/img-front-test/bg-front.png">
                  <div class="img-print-over-card-right"><img src="assets/img-front-test/fingerprint.png"> </div>
                </div>
                <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut
                  ante blandit hendrerit.</p>
                <a href="#" class="btn card-btn-right">Saiba Mais</a>
                <div class="bottom-right-card"><img src = "assets/img-front-test/bottom-right-card.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <footer class="footer row container">
    <div class="footer-link-right col-3">
      <p><a>Quem Somos</a></p>
      <p><a>Como Funciona</a></p>
      <p><a>FAQ'S</a></p>
      <p><a>Contato</a></p>
    </div>
    <div class="footer-link-left col-3">
      <p><a routerLink="">Login</a></p>
      <p><a routerLink="/signup">Cadastro</a></p>
      <p><a>Termo de Uso</a></p>
      <p><a>Privacidade</a></p>
    </div>
    <div class="footer-image col-6"><img src="assets/img-front-test/bg-front-bottom-left.png" alt=""></div>
  </footer>

</body>

</html>