

*{
    box-sizing: border-box;
   
}

.home-navbar{
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0,0,0);
    display:flex;
}

.nav-button-home{
    align-content: flex-end;
    
}
.home-navbar-btn{
    border: #ffff 2px;
    text-align: center;
    border-radius: 28px;
}

.main{

    position: relative;
    height: 100vh;
    display:flex;
}

.main-over{
    position: absolute;
    left: 299px;
    top: 195px;
    padding: 10px;
    z-index: 1;
}

.main-text{
 color:#ffff;
 font-size: 20px;
 font-weight: bold;
 font-family:'Mukta', sans-serif;   
 text-align: center;

}

.main-btn{
   border: #ffff 2px;
   border-radius: 28px;


}

.main-cards{
    position: absolute;
    left: 3px;
    top: 682px;
    z-index: 2;

}

.img-bg-card img{
    position: relative;
}

.img-print-over-card img{
    position: absolute;
    z-index: 1;
}
.footer{
    padding-top: 120px ;
    margin-top: 260px ;

}

.footer-image img{
    width: 1082px;
    height: 643.79px;
}

