<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

</head>

<body>
  <!--  
    <a routerLink="" class="navbar-brand">
      <img src="assets/img-front-test/front-test-logo.png" width="30" height="30" alt="">
    </a>
    <a routerLink=""><button type="button" class="btn btn-outline-primary">Logout</button></a> -->


  <div class="container">

    <div class="main"><img src="assets/img-front-test/bg-front-main.png" alt="">
      <div class="main-over">
        <div class="main-slogan"><img src="assets/img-front-test/front-test.png" alt=""></div>
        <div class="main-text row">
          <p class="col-6">Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem dormir, sentado sem
          </p>
          <div class="main-button">
            <button type="button" class="btn btn-outline-primary">Primary</button>
          </div>

        </div>
      </div>


      <div class="main-cards">
        <div class="row no-gutters">
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mussum Ipsum Cacilds</h5>
                <div class="img-bg-card">
                  <img src="assets/bg-front.png" height="30px" width="30px">
                  <div class="img-print-over-card"><img src="assets/fingerprint.png" height="20px" width="20px"> </div>
                </div>
                <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut
                  ante blandit hendrerit.</p>
                <a href="#" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mussum Ipsum Cacilds</h5>
                <div class="img-bg-card">
                  <img src="assets/bg-front.png" height="30px" width="30px">
                  <div class="img-print-over-card"><img src="assets/fingerprint.png" height="20px" width="20px"> </div>
                </div>
                <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut
                  ante blandit hendrerit.</p>
                <a href="#" class="btn btn-primary">Saiba Mais</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mussum Ipsum Cacilds</h5>
                <div class="img-bg-card">
                  <img src="assets/img-front-test/bg-front.png" height="30px" width="30px">
                  <div class="img-print-over-card"><img src="assets/fingerprint.png" height="20px" width="20px"> </div>
                </div>
                <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut
                  ante blandit hendrerit.</p>
                <a href="#" class="btn btn-primary main-btn">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class=" footer row container">
    <div class="footer-link-right col-3">
      <p>link</p>
      <p>link</p>
      <p>link</p>
      <p>link</p>
    </div>
    <div class="footer-link-left col-3">
      <p>link</p>
      <p>link</p>
      <p>link</p>
      <p>link</p>
    </div>
    <div class="footer-image col-6"><img src="assets/img-front-test/bg-front-bottom-left.png" alt=""></div>
  </footer>

</body>

</html>