<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
  <h1>HOME WORKS</h1>
 
<body>
  <nav class="navbar navbar-light bg-light">
    <a routerLink="" class="navbar-brand" >
      <img src="assets/img-front-test/front-test-logo.png" width="30" height="30" alt="">
    </a>
    <button type="button" class="btn btn-outline-primary">Logout</button>
  </nav>
 <div><img src="assets/img-front-test/bg-front.png" alt="">
  <img src="assets/img-front-test/front-test.png" alt="">
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<footer>
  <div>
    <p>link</p>
    <p>link</p>
    <p>link</p>
    <p>linl</p>
  </div>
  <div>
  <p>link</p>
  <p>link</p>
  <p>link</p>
  <p>linl</p>
</div>
</footer>

</body>
</html>